<div id="rulesModal" tabindex="-1" class="modal fade" style="z-index: 99999999999;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content bg-transparent border-0">
          <div class="modal-body bg-white rounded-3 text-dark">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <button type="button" data-bs-dismiss="modal" class="btn-close bg-white rounded-circle position-absolute" style="border: 2px solid #232A41; color: #232A41; font-family: BreulGroteskB; bottom: -10px; right: -10px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;"></button>
       </div>
    </div>
 </div>