.swiper-slide {
    cursor: pointer;
    width: auto!important;
}

.swiper-slide .row {
    border: 2px solid transparent;
    padding: 5px;
    color: white;
    margin: 5px;
    justify-content: center;
}

.swiper-slide div {
    font-size: 12px;
}
.swiper-slide .row {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .swiper-slide img {
        width: 40px; height: 40px;
    }
    .swiper-slide div {
        font-size: 16px;
    }
    .swiper-slide .row {
        border-radius: 5px;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
}

.swiper-slide:hover .row {
    box-shadow: 0px 0px 5px 0px #fb92e2;
    border: 2px solid #fb92e2;
}

.swiper-slide-current .row {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #ffffff;
    background: linear-gradient(0deg, #FB7DDE, #FB7DDE), linear-gradient(95.86deg, #FF63D8 7.25%, #F13FBC 94.2%);
    box-shadow: 0px 0px 5px 0px #fb92e2;
    font-family: "Casino", sans-serif!important;
}