<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
       <a href="/"><img src="../assets/images/logo.png" width="160" /></a>
       <div class="d-flex align-items-center">
         <div class="d-flex me-2">
            <button class="btn btn-secondary bg-transparent border-0" type="button" data-bs-toggle="dropdown">
            <img src="../assets/images/icon-person.svg" style="border-radius: 50%; vertical-align: middle;"/> <span class="mx-2 fst-italic d-none d-md-inline-flex">Welcome, ABC</span>
            </button>
         </div>
         <div class="d-flex dropdown">
            <button class="btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" style="border: 1px solid #F092FF!important; background: #191F30; box-shadow: inset -5px -5px 250px rgb(255 255 255 / 2%); border-radius: 4px;">
            <img src="../assets/images/icon-card.svg" style="vertical-align: initial;"/> <span class="mx-2 d-none d-md-inline-flex">999,000,657.49</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
               <li><a class="dropdown-item text-dark" routerLink="/report">Transaction Report</a></li>
               <li><a class="dropdown-item text-dark" href="#">Logout</a></li>
            </ul>
         </div>
       </div>
    </div>
 </nav>