<nav class="navbar navbar-expand-lg navbar-dark" style="background: #101421;">
    <div class="container-fluid d-flex">
       <a class="navbar-brand" href="#" style="flex: 1;"><img src="../assets/images/Logo.svg" class="w-100" /></a>
       <div class="marquee text-white w-100 d-none d-md-block" style="flex: 5;">
          <span><img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames &nbsp;</span>
       </div>
       <div class="d-flex dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="background: transparent; border-color: var(--green); border-radius: 8px;">
          <img src="../assets/images/icon-card.svg" style="vertical-align: initial;"/> <span class="mx-2">999,000,657.49</span>
          </button>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item text-dark" href="#">Transaction Report</a></li>
             <li><a class="dropdown-item text-dark" href="#">Logout</a></li>
          </ul>
       </div>
    </div>
 </nav>
 <div class="marquee text-white w-100 d-block d-md-none" style="background: #101421;">
    <span><img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames <img src="../assets/images/marker.svg"> Live Supergames &nbsp;</span>
 </div>