.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    /* position: absolute; */
    }
    .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 12px; color: #FBFBFB !important; font-family: Rubik !important; font-style: italic;
    }
    @keyframes marquee {
    0% {
    transform: translate(0, 0);
    }
    100% {
    transform: translate(-100%, 0);
    }
    }