
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }

.toolbar div, .toolbar p {
    font-family: Matroska;
    color: var(--green);
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    }

    @media (min-width: 768px) {
        .toolbar div, .toolbar p {
        font-size: 12px;
        line-height: 12px;
        }
    }

    img:hover {
        box-shadow: 0px 0px 0px 2px white !important;
    }

.true > div:not(.active) {
   opacity: 1.0;
}

.false > div:not(.active) {
   opacity: 0.5 !important;
}

#flexSwitchCheckChecked:checked {
    background-color: #036BA6!important;
}


.stake {
    background: none!important;
    text-align: center;
    border: 0px;
    font-family: Matroska;
    color: var(--green);
    max-width: 7rem;
    outline: 0px;
  }