<div class="position-absolute tray">
    <div class="p-md-2">
       <div data-bs-toggle="modal" data-bs-target="#popModalMobile" class="p-md-2">
         <img src="../assets/images/icon-quickbet.png">
       </div>
       <div data-bs-toggle="modal" data-bs-target="#popModalMobile" class="p-md-2">
         <img src="../assets/images/icon-volume.png">
      </div>
       <div class="p-md-2" data-bs-toggle="modal" data-bs-target="#rulesModal">
         <img src="../assets/images/icon-info.png">
       </div>
    </div>
 </div>