.tray {
    top: 0;
    right: 10px;
    z-index: 9;
    position: absolute;
}

.tray img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

   @media (min-width: 768px) {
    .tray {
        right: 0px;
        left: auto;
        top: 40%;
        bottom: auto;
        position: fixed!important;
    }

    .tray img {
        width: 75px;
        height: 75px;
    }
}