<div class="position-absolute tray">
    <div class="row d-flex p-2 px-md-4">
       <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="col-6 p-1 p-md-2 d-none d-md-block">
          <div class="module-border-wrap ms-auto"><img src="../assets/images/icon-pop.png"></div>
       </div>
       <div data-bs-toggle="modal" data-bs-target="#popModalMobile" class="col-6 p-1 p-md-2 d-block d-md-none">
          <div class="module-border-wrap ms-auto"><img src="../assets/images/icon-pop.png"></div>
       </div>
       <div class="col-6 p-1 p-md-2" data-bs-toggle="modal" data-bs-target="#rulesModal">
          <div class="module-border-wrap ms-auto"><img src="../assets/images/icon-info.png"></div>
       </div>
    </div>
 </div>