.info {
    top: 5px;
    left: 5px;
    z-index: 999;
    position: absolute;
    cursor: pointer;
}

.infoModal ul {
    list-style: none;
 }

 .infoModal li div {
    min-height: 50px;
    border-radius: 20px;
    border: 2px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    font-family: Matroska;
    background: var(--green);
    color: #112C3B;
    box-shadow: 0px 1px 0px rgb(255 255 255 / 30%), inset 0px 2px 3px rgb(0 0 0 / 50%);
 }
 