body {
    background: url(/assets/images/main-bg.jpg);
    background-size: cover;
    font-family: "Gilroy", sans-serif!important;
}

@media (min-width: 768px) {
    body {
        font-size: 14px!important;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 15px!important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px!important;
    }
}

.smoke {
    position: fixed;
    right: 0;
    top: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: none!important;
}

.swiper-button-prev {
    background-image: url(/assets/images/icon-left.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition:margin 0.1s linear;
}

.swiper-button-prev:hover {
    margin-left: -5px!important;
}

.swiper-button-next {
    background-image: url(/assets/images/icon-right.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition:margin 0.1s linear;
}

.swiper-button-next:hover {
    margin-right: -5px!important;
}

// .card {
//     transform: skew(-20deg)!important;
// }