body {
    background: url(/assets/images/background.png);
    background-color: #101421!important;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    font-family: "Rubik", sans-serif!important;
}