body {
    background: url(/assets/images/background.png);
    background-color: #101421!important;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    font-family: "Rubik", sans-serif!important;
}

@media (min-width: 768px) {
    body {
        font-size: 14px!important;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 15px!important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px!important;
    }
}