.game-name {
    background: linear-gradient(180deg,rgba(125,185,232,0) 0,#d33517);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 15px;
    line-height: 100%;
}